* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #ffffff;
  color: #4b5562;
  font-size: 18px;
  font-family: 'Open Sans';
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1170px;
}
.container.flex {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 166px;
}
.container.flex.plusmargin {
  margin-top: 202px;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.socials {
  display: inline-flex;
  font-size: 16px;
}
.socials a {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #ffffff;
  opacity: 0.8;
  margin: 0 10px;
  transition: all, 0.5s ease-in;
}
.socials a:hover {
  opacity: 1;
}
h2 {
  text-align: center;
  line-height: 0.8;
  font-size: 44px;
  padding-top: 40px;
  color: #2c4058;
  font-family: 'Gotham';
  font-weight: 500;
  position: relative;
}
h2.white {
  color: #ffffff;
}
h2.white::before {
  background-color: #ffffff;
}
h2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50px;
  height: 1px;
  width: 100px;
  background-color: #2c4058;
}
.subtitle,
h2,
h3 {
  text-transform: uppercase;
  color: #2c4058;
}
.subtitle {
  font-size: 22px;
  padding-bottom: 10px;
  font-family: 'Gotham Book';
}
h3 {
  font-size: 44px;
  font-family: 'Gotham';
  font-weight: 500;
  line-height: 0.8;
}
.desc {
  padding: 30px 0 31px;
  line-height: 31px;
  word-spacing: 1px;
}
.btn {
  border: 1px solid #2c4058;
  text-align: center;
  padding: 17px 40px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Gotham Book';
  margin-bottom: 52px;
  display: inline-block;
  position: relative;
  transition: all, 0.8s ease-in-out;
}
.btn:hover {
  border: 1px solid transparent;
}
.btn:hover .line-1 {
  -webkit-animation: move1 1500ms infinite ease;
  animation: move1 1500ms infinite ease;
}
.btn:hover .line-2 {
  -webkit-animation: move2 1500ms infinite ease;
  animation: move2 1500ms infinite ease;
}
.btn:hover .line-3 {
  -webkit-animation: move3 1500ms infinite ease;
  animation: move3 1500ms infinite ease;
}
.btn:hover .line-4 {
  -webkit-animation: move4 1500ms infinite ease;
  animation: move4 1500ms infinite ease;
}
.btn span {
  content: "";
  display: block;
  position: absolute;
  background-color: #2c4058;
}
.btn span.line-1 {
  width: 1px;
  left: 0;
  bottom: 0;
}
.btn span.line-2 {
  height: 1px;
  left: 0;
  top: 0;
}
.btn span.line-3 {
  width: 1px;
  right: 0;
  top: 0;
}
.btn span.line-4 {
  height: 1px;
  right: 0;
  bottom: 0;
}
@-webkit-keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@-webkit-keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
.clearfix {
  content: '';
  clear: both;
  display: block;
}
header {
  position: relative;
}
header .bx-wrapper {
  max-width: 100% !important;
  overflow: hidden;
}
header .bx-pager.bx-default-pager {
  display: flex;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 45%;
  margin-right: 15px;
  transform: translateY(-50%);
  right: 0;
  flex-direction: column;
}
header .bx-pager.bx-default-pager a {
  margin: 20px 0 !important;
}
header nav {
  position: absolute;
  transition: all, 0.5s linear;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 60px 0;
  color: #ffffff;
}
header nav.sticky {
  z-index: 15000;
  background: linear-gradient(270deg, #748ffc 16%, #68b0fd 45%, #58e1fe 87%, #54f1ff 100%);
  padding: 2px 0;
  position: fixed;
  top: 0;
  width: 100%;
}
header nav.sticky + main {
  padding-top: 60px;
}
header nav .nav-burger {
  display: none;
}
header nav .container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
header nav .logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .logo-link img {
  transition: all, 0.5s ease-in-out;
}
header nav .logo-link:hover img {
  opacity: 0.6;
}
header nav .navbar {
  display: flex;
  text-transform: uppercase;
  font-family: 'Gotham Book';
  font-size: 14px;
  width: 50%;
  justify-content: space-between;
}
header nav .navbar li a {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
header nav .navbar li a::before {
  content: '';
  transition: all, 0.5s ease;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  left: 0;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #ffffff;
}
header nav .navbar li a:hover::before,
header nav .navbar li a.nav-active::before {
  background-color: #ffffff;
}
header nav .socials {
  margin-left: 53px;
}
header nav .socials li a.fb {
  margin: 0 10px 0 0;
}
header nav .socials li a.ig {
  margin: 0 0 0 10px;
}
header #head_slider li.headslide {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  color: #ffffff;
  background: #7e5aff url('../img/header.jpg') no-repeat;
  background-size: cover;
  padding: 300px 0 95px;
  width: 100% !important;
}
header #head_slider li.headslide .slide-title h2 {
  font-size: 80px;
  color: #ffffff;
  font-weight: bold;
  padding-top: 75px;
  margin-bottom: 33px;
  word-spacing: 9px;
  letter-spacing: 5px;
}
header #head_slider li.headslide .slide-title h2::before {
  display: none;
}
header #head_slider li.headslide .slide-title .slide-subtitle {
  font-family: 'Gotham Book';
  letter-spacing: 6px;
  word-spacing: 1px;
  padding-bottom: 222px;
}
header .scroll {
  position: absolute;
  display: flex;
  bottom: 55px;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  z-index: 500;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
  left: 50%;
  transform: translateX(-50%);
  transition: all, 0.5s ease;
}
header .scroll:hover {
  opacity: 0.5;
}
.location {
  font-family: 'Open Sans';
  font-style: italic;
  color: #2c4058;
}
.location i {
  padding-right: 5px;
}
img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}
section#services {
  padding: 97px 0 140px;
  position: relative;
  /*      &::before, &::after {
        content: '';
        position: absolute;
        width: 545px;
        height: 470px;
        z-index: -1;
    }
     &::before {
        left: 0;
        top: 268px;
        background-color: @blue;
    } 
    &::after {
        right: 0;
        bottom: 215px;
        background-color: @violet;
    }  */
}
section#services .img_wrap {
  width: calc(60% - 73px);
}
section#services .info_wrap {
  width: 40%;
}
section#services .info_wrap.left {
  margin-right: 70px;
}
section#services .info_wrap.right {
  margin-left: 70px;
}
section#services .info_wrap.left,
section#services .info_wrap.right {
  padding: 57px 0 70px;
}
section#services h3 {
  font-weight: bold;
}
section#services h3:nth-of-type(1) {
  word-spacing: -1px;
}
.news {
  padding: 140px 0 135px;
  background: #2ab9f1 url('../img/gallery.jpg') no-repeat;
  background-size: cover;
  position: relative;
}
.news h2 {
  margin-bottom: 80px;
  padding-top: 37px;
}
.news #news_slider li.newsslide {
  background-color: #ffffff;
  transition: all, 0.5s ease;
}
.news #news_slider li.newsslide:hover .text {
  color: #55b7ff;
}
.news #news_slider li.newsslide .news-content {
  padding: 21px 21px 34px;
}
.news #news_slider li.newsslide .news-content .text {
  transition: all, 0.5s ease;
}
.news #news_slider li.newsslide .news-content .text h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 34px;
  word-spacing: 1px;
  margin-bottom: 8px;
}
.news #news_slider li.newsslide .news-content .text .preview {
  line-height: 30px;
  word-spacing: -1px;
}
.news #news_slider li.newsslide .news-content .text h3,
.news #news_slider li.newsslide .news-content .text .preview {
  height: 64px;
  overflow: hidden;
}
.news #news_slider li.newsslide .news-content .author {
  display: flex;
  margin-top: 26px;
  font-family: 'Gotham Book';
}
.news #news_slider li.newsslide .news-content .author .avatar {
  margin-right: 19px;
}
.news #news_slider li.newsslide .news-content .author .info {
  display: flex;
  flex-direction: column;
}
.news #news_slider li.newsslide .news-content .author .info .name {
  text-transform: uppercase;
  color: #2c4058;
  display: block;
  padding: 9px 0;
}
.news #news_slider li.newsslide .news-content .author .info .date {
  font-size: 14px;
  display: block;
  color: #55b7ff;
}
.gallery {
  padding: 140px 0 90px;
}
.gallery .galhead {
  padding-bottom: 100px;
}
.gallery #gallery {
  display: grid;
  margin-bottom: 60px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px 10px;
  grid-template-areas: "big big img1 img2" "big big img3 img4";
}
.gallery #gallery .big {
  grid-area: big;
  position: relative;
}
.gallery #gallery .big .overlay {
  cursor: pointer;
  position: absolute;
  transition: all, 0.5s ease-in;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: inline-block;
}
.gallery #gallery .big .overlay .lineplus {
  position: absolute;
  left: 50%;
  top: 25%;
  height: 50px;
  width: 2px;
  background-color: #ffffff;
  transition: all, 0.5s ease-in;
}
.gallery #gallery .big .overlay .lineplus::after {
  content: '';
  position: absolute;
  left: 50%;
  height: 50px;
  width: 2px;
  background-color: #ffffff;
  transform: rotate(270deg);
  transition: all, 0.5s ease-in;
}
.gallery #gallery .big .overlay:hover,
.gallery #gallery .big .overlay:hover .lineplus {
  opacity: 0.5;
}
.gallery #gallery .img1 {
  grid-area: img1;
}
.gallery #gallery .img2 {
  grid-area: img2;
}
.gallery #gallery .img3 {
  grid-area: img3;
}
.gallery #gallery .img4 {
  grid-area: img4;
}
.gallery #gallery img {
  height: 100%;
  transition: all, 0.5s ease;
}
.gallery #gallery img:hover:not(.bigimg) {
  transform: scale(0.9);
}
.gallery .galbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .galbtn .btn {
  padding: 16px 55px;
}
#map {
  height: 700px;
}
#map .leaflet-control-container {
  display: none;
}
#map .leaflet-marker-icon {
  width: 53px !important;
  height: 53px !important;
}
#map .leaflet-popup-content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: 'Gotham';
}
#map .leaflet-pane.leaflet-shadow-pane {
  display: none;
}
footer {
  background: #7186fe url('../img/footer.jpg') no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
}
footer .copy_wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
}
footer .contact-card {
  padding: 60px 50px 30px;
  background: #ffffff url('../img/contact.png') no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 10000;
  top: -295px;
  left: 50%;
  max-width: 772px;
  width: 90%;
  transform: translateX(-50%);
  color: #2c4058;
}
footer .contact-card h2 {
  padding: 29px 0 0;
  margin-bottom: 43px;
}
footer .contact-card button.btn {
  background-color: transparent;
  cursor: pointer;
  display: block;
  margin-left: auto;
}
footer .contact-card button.btn:hover {
  border: 1px solid #7e5aff;
  color: #7e5aff;
}
footer .contact-card .content {
  display: flex;
  margin-top: 50px;
  font-family: 'Gotham Book';
}
footer .contact-card .content .flex_wrap {
  width: 50%;
}
footer .contact-card .content .flex_wrap:last-of-type {
  width: calc(50% - 21px);
  margin-left: 21px;
}
footer .contact-card .content .flex_wrap .contact-list {
  padding-left: 10px;
}
footer .contact-card .content .flex_wrap .contact-list li {
  margin-bottom: 39px;
}
footer .contact-card .content .flex_wrap .contact-list li:last-of-type {
  margin-bottom: 0px;
}
footer .contact-card .content .flex_wrap .contact-list li i {
  color: #7e5aff;
  padding-right: 6px;
}
footer .contact-card .content .flex_wrap input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d5d9de;
  background-color: transparent;
  padding-bottom: 22px;
  font-family: 'Gotham Book';
  color: #2c4058;
  margin-bottom: 30px;
  font-size: 18px;
}
footer .contact-card .content .flex_wrap input:focus {
  border-color: #7e5aff;
}
footer .contact-card .content .flex_wrap input::-webkit-input-placeholder {
  color: #4b5562;
}
footer .contact-card .content .flex_wrap input::-moz-placeholder {
  color: #4b5562;
}
footer .contact-card .content .flex_wrap input:-ms-input-placeholder {
  color: #4b5562;
}
footer .contact-card .content .flex_wrap input::-ms-input-placeholder {
  color: #4b5562;
}
footer .contact-card .content .flex_wrap input::placeholder {
  color: #4b5562;
}
footer .footer_wrap {
  padding: 200px 200px 215px;
  display: flex;
}
footer .footer_wrap .blockleft {
  width: 75%;
  margin-top: 7px;
}
footer .footer_wrap .blockright {
  width: 25%;
  text-align: right;
  padding: 8px 0 0 22px;
  margin-top: 10px;
}
footer .footer_wrap .logo-link img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
footer .footer_wrap .copy {
  padding-top: 35px;
  font-size: 14px;
  font-family: 'Gotham Book';
  line-height: 22px;
}
footer .footer_wrap .copy .rights {
  padding-right: 21px;
  position: relative;
}
footer .footer_wrap .copy .rights:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
}
footer .footer_wrap .copy .creator {
  padding-left: 16px;
}
.bx-pager.bx-default-pager {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.bx-pager.bx-default-pager .bx-pager-link {
  width: 7px;
  height: 7px;
  display: inline-flex;
  margin: 0 20px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
#gonext,
#goprev {
  position: absolute;
  background-color: transparent;
  width: 38px;
  height: 38px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  transition: all, 0.5s ease;
  top: 50%;
  margin-top: -20px;
}
#gonext:hover,
#goprev:hover {
  opacity: 0.6;
}
#gonext {
  right: 15px;
}
#goprev {
  left: 15px;
}
#head_slider,
#news_slider {
  width: 100%;
}
.bx-wrapper {
  margin: 0 auto;
  overflow: hidden;
  border: 0 !important;
  background: transparent !important;
}
@media screen and (max-width: 1100px) {
  header nav .logo-link {
    margin-right: 15px;
  }
  header nav .navbar {
    width: 60%;
  }
  header nav .navbar li a {
    padding-left: 15px;
  }
}
@media screen and (max-width: 1024px) {
  header nav .navbar {
    width: 60%;
  }
  header nav .navbar li a {
    padding-left: 15px;
  }
  header nav .socials {
    margin-left: 20px;
  }
  header nav .socials li a {
    width: 30px;
    height: 30px;
    font-size: 12px;
    margin: 0 5px;
  }
  header nav .socials li a.fb {
    margin: 0 5px 0 0;
  }
  header nav .socials li a.ig {
    margin: 0 0 0 5px;
  }
  section#services {
    padding: 70px 0;
  }
  section#services .container.flex {
    margin-top: 100px;
  }
  footer .copy {
    margin-right: -50px;
  }
}
@media screen and (max-width: 972px) {
  header #head_slider li.headslide .slide-title h2 {
    font-size: 72px;
  }
  footer .footer_wrap {
    padding: 180px 100px 100px;
  }
}
@media screen and (max-width: 968px) {
  header #head_slider li.headslide {
    padding: 200px 0 95px;
  }
  #nav {
    padding: 30px 0;
    background: linear-gradient(0deg, #748ffc 16%, #68b0fd 45%, #58e1fe 87%, #54f1ff 100%);
  }
  #nav.sticky {
    padding: 2px 0;
  }
  #nav .container {
    flex-wrap: wrap;
  }
  #nav .logo-link {
    width: 50%;
    justify-content: flex-start;
  }
  #nav .navbar {
    display: none;
  }
  #nav .navbar.active_on_touch {
    display: block;
    width: 100%;
    padding: 30px 0;
  }
  #nav .navbar.active_on_touch li {
    margin: 15px 0;
  }
  #nav .socials {
    display: none;
  }
  .burger-wrap .nav-burger {
    display: block !important;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 110;
    top: 0;
    right: 0;
    float: right;
  }
  .burger-wrap .nav-burger.active_on_touch::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .burger-wrap .nav-burger.active_on_touch::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .burger-wrap .nav-burger.active_on_touch span {
    transform: scale(0);
  }
  .burger-wrap .nav-burger::before,
  .burger-wrap .nav-burger::after {
    content: '';
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .burger-wrap .nav-burger::before {
    top: 0;
  }
  .burger-wrap .nav-burger::after {
    bottom: 0;
  }
  .burger-wrap .nav-burger span {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 898px) {
  #goprev {
    left: 0;
  }
  #gonext {
    right: 0;
  }
  #gonext,
  #goprev {
    border-width: 2px;
  }
  #gonext i,
  #goprev i {
    font-size: 18px;
  }
  section#services p.location {
    font-size: 16px;
  }
  header #head_slider li.headslide .slide-title h2 {
    font-size: 52px;
  }
}
@media screen and (max-width: 768px) {
  #gonext,
  #goprev {
    background-color: #2ab9f1;
    z-index: 10000;
    width: 42px;
    height: 42px;
    font-size: 18px;
  }
  .slide-subtitle {
    font-size: 14px;
  }
  h2 {
    padding-top: 20px;
  }
  .btn {
    padding: 10px 20px;
    margin-bottom: 25px;
  }
  section#services {
    padding: 25px 0 0;
  }
  section#services .container.flex {
    margin-top: 50px;
    flex-direction: column;
  }
  section#services .container.flex.plusmargin {
    flex-direction: column-reverse;
  }
  section#services .container.flex .img_wrap,
  section#services .container.flex .info_wrap {
    width: 100%;
  }
  section#services .container.flex .img_wrap img {
    height: 250px;
  }
  section#services .container.flex .info_wrap {
    margin: 0;
  }
  section#services h3 {
    font-size: 32px;
  }
  section#services .desc {
    font-size: 14px;
    padding: 20px 0 20px;
    line-height: 24px;
  }
  section#services p.location {
    font-size: 14px;
  }
  .subtitle {
    font-size: 18px;
  }
  header #head_slider li.headslide {
    padding: 150px 0 50px;
  }
  .news {
    padding: 70px 0;
  }
  .gallery {
    padding: 50px 0;
  }
  .gallery .galhead {
    padding-bottom: 40px;
  }
  footer .contact-card .content .flex_wrap .contact-list {
    font-size: 14px;
  }
  footer .footer_wrap {
    padding: 180px 0 100px;
  }
  footer .footer_wrap .blockright {
    width: auto;
  }
  .gallery #gallery .big .overlay {
    width: 50px;
    height: 50px;
    border-width: 1px;
  }
  .gallery #gallery .big .overlay .lineplus {
    height: 25px;
    width: 1px;
  }
  .gallery #gallery .big .overlay .lineplus::after {
    height: 25px;
    width: 1px;
  }
}
@media screen and (max-width: 668px) {
  header #head_slider li.headslide .slide-title {
    text-align: center;
  }
  header #head_slider li.headslide .slide-title h2 {
    font-size: 40px;
    word-spacing: 1px;
    letter-spacing: 2px;
  }
  header #head_slider li.headslide .slide-title .slide-subtitle {
    padding-bottom: 100px;
    font-size: 14px;
    line-height: 28px;
  }
}
@media screen and (max-width: 580px) {
  .gallery #gallery {
    margin-bottom: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    grid-template-areas: "big big" "big big" "img1 img2" "img3 img4";
  }
  #map {
    height: 500px;
  }
  footer .copy_wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer .contact-card {
    width: 100%;
    padding: 30px 20px;
  }
  footer .footer_wrap .blockleft {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  footer .footer_wrap .blockleft .copy {
    margin: 0 auto;
    font-size: 12px;
  }
  footer .footer_wrap .blockright {
    width: auto;
    margin: 0 auto;
    padding: 15px 0 0;
  }
}
@media screen and (max-width: 480px) {
  footer .contact-card .content {
    flex-wrap: wrap;
  }
  footer .contact-card .content .flex_wrap,
  footer .contact-card .content .flex_wrap:last-of-type {
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  footer .contact-card .content .flex_wrap .contact-list,
  footer .contact-card .content .flex_wrap:last-of-type .contact-list {
    width: 100%;
    padding: 0;
    text-align: left;
  }
  footer .contact-card .content .flex_wrap .contact-list li,
  footer .contact-card .content .flex_wrap:last-of-type .contact-list li {
    margin-bottom: 15px;
  }
  footer .contact-card .content .flex_wrap form,
  footer .contact-card .content .flex_wrap:last-of-type form {
    margin-top: 30px;
  }
  footer .contact-card .content .flex_wrap form button,
  footer .contact-card .content .flex_wrap:last-of-type form button {
    margin: 0 auto;
  }
  footer .footer_wrap {
    padding: 250px 0 40px;
  }
  header #head_slider li.headslide .slide-title h2 {
    font-size: 32px;
  }
  header #head_slider li.headslide .slide-title .slide-subtitle {
    letter-spacing: 1px;
  }
  #nav.sticky {
    padding: 10px 0;
  }
}
@media screen and (max-width: 384px) {
  header #head_slider li.headslide .slide-title h2 {
    font-size: 24px;
  }
  header #head_slider li.headslide .slide-title .slide-subtitle {
    font-size: 12px;
  }
  footer .footer_wrap .blockleft .copy {
    text-align: center;
  }
  footer .footer_wrap .blockleft .copy .rights {
    padding: 0;
    display: block;
  }
  footer .footer_wrap .blockleft .copy .rights::after {
    display: none;
  }
  footer .footer_wrap .blockleft .copy .creator {
    padding: 0;
    display: block;
  }
}
@media screen and (max-width: 320px) {
  h2 {
    font-size: 32px;
  }
  .btn {
    display: block;
  }
  .news h2 {
    margin-bottom: 30px;
  }
  .news #news_slider li.newsslide .news-content {
    padding: 21px 30px 34px;
  }
  .news #news_slider li.newsslide .news-content .text h3 {
    font-size: 18px;
  }
  .news #news_slider li.newsslide .news-content .text .preview {
    font-size: 14px;
  }
  .news #news_slider li.newsslide .news-content .author .info .name {
    font-size: 14px;
  }
  .gallery #gallery {
    margin-bottom: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    grid-template-areas: "big" "img1" "img2" "img3" "img4";
  }
}
